<form i="upload" action="<?php echo $action?:APP_URL.'&do=upload'; ?>" method="POST" target="iPHP_FRAME" enctype="multipart/form-data">
    <div id="upload-container">
        <div class="justify-content-center align-items-center">
            <label for="upfile" type="button" class="btn btn-alt-primary btn-block">
                <span>
                    <i class="fa fa-fw fa-upload"></i>
                    选择文件
                </span>
                <input type="file" name="upfile" id="upfile" i="upfile" />
            </label>
        </div>
    </div>
</form>
