<!-- Footer -->
<div class="font-size-sm text-center text-muted py-3">
    <strong><!--{$site.name}--></strong>
    &copy;
    <span data-toggle="year-copy"></span>
    <p>
        Copyright &copy; 2008-<!--{$site.now|date:'Y'}--> <a href="<!--{$site.url}-->" target="_blank"><!--{$site.name}--></a>. All rights reserved. Powered by
        <a href="https://www.icmsdev.com/" target="_blank">iCMS<!--{$iCMS.CONST.iCMS_VERSION}-->.</a>
        <!--{if $site.icp}-->
        <b>ICP备案号</b><!--{$site.icp}-->
        <!--{/if}-->
    </p>
</div>
<!-- END Footer -->
