<h3>
    <!--{$site.title}-->
    用户隐私政策
</h3>

<!--{if $USER_CONFIG.privacy }-->
<pre style="white-space: break-spaces">
<!--{$USER_CONFIG.privacy}-->
</pre>
<!--{else}-->
<div class="privacy">
    <!-- 隐私协议 -->
    <!-- 内容部分 -->
    <h1>用户隐私政策</h1>
    <h2><!--{$site.title}-->用户隐私政策</h2>
    <p><strong>生效日期： 2020 年 01 月 01 日</strong></p>
    <p>
        您的个人信息安全对我们来说至关重要。一直以来，<!--{$site.title}-->都致力于为每位用户提供更安全的互联网环境。我们将依据《中华人民共和国网络安全法》、《信息安全技术 个人信息安全规范》（GB/T
        35273-2017）以及其他相关法律法规和技术规范收集和使用您的个人信息，以帮助我们向您提供更优质的<!--{$site.title}-->产品和/或服务。
    </p>
    <p>
        《<!--{$site.title}-->用户隐私政策》（以下简称“本指引”）是对旧版《<!--{$site.title}-->隐私政策》的升级与修订，以更透明地呈现我们收集和使用您个人信息的情况，以及您享有的对个人信息的控制权。我们承诺会对您的个人信息和其它数据进行严格保密，并严格按照本指引所阐述的内容处理您的个人信息。我们会根据您的同意和其它可处理您个人信息的法律依据收集、使用、存储、共享和转移您的个人信息。
    </p>
    <p><strong>以下是《<!--{$site.title}-->用户隐私政策》的要点说明：</strong></p>
    <ol>
        <li>为帮助您注册并使用<!--{$site.title}-->产品或服务，我们可能收集与提供服务相关的个人信息，您有权拒绝或撤回授权；</li>
        <li>您可以访问、更正、删除您的个人信息，改变您授权同意的范围，注销您的帐号，我们为您提供了行使这些权利的途径。</li>
        <li>我们采取了互联网业内标准的技术措施和数据安全措施来保护您的个人信息安全。</li>
        <li>除非再次征得您的同意，我们不会将您的个人信息用于本指引未载明的其他目的。</li>
        <li>当您对本指引有任何疑问，可以和我们进一步联系与咨询。</li>
        <li>请确认您为 18 岁以上人士。</li>
    </ol>
    <p><strong>为了更好保护您的个人信息，建议您完整阅读更新的《<!--{$site.title}-->用户隐私政策》。您也可以点击此处，获得<!--{$site.title}-->《隐私政策》的历史版本。</strong></p>
    <h3>目录</h3>
    <ol>
        <li>
            <h3>引言；</h3>
        </li>
        <li>
            <h3>我们处理个人信息的法律依据；</h3>
        </li>
        <li>
            <h3>我们如何收集和使用您的个人信息；</h3>
        </li>
        <li>
            <h3>我们如何共享、转让、公开披露您的个人信息；</h3>
        </li>
        <li>
            <h3>我们如何保护您的个人信息；</h3>
        </li>
        <li>
            <h3>您管理个人信息的权利；</h3>
        </li>
        <li>
            <h3>我们发出的通知；</h3>
        </li>
        <li>
            <h3>对个人信息的存储；</h3>
        </li>
        <li>
            <h3>我们如何使用 Cookie 和其他追踪技术；</h3>
        </li>
        <li>
            <h3>我们如何处理未成年人的个人信息；</h3>
        </li>
        <li>
            <h3><strong>号码认证授权条款</strong></h3>
        </li>
        <li>
            <h3>如何更新本指引；</h3>
        </li>
        <li>
            <h3>如何联系我们；</h3>
        </li>
        <li>
            <h3>争议解决；</h3>
        </li>
        <li>
            <h3>名词解释。</h3>
        </li>
    </ol>
    <h2>1. 引言</h2>
    <p>
        本指引适用于提供<!--{$site.title}--> App 软件、网站（
        <a href="<!--{$site.url}-->" target="_blank" rel="noopener"><!--{$site.url}--></a>
        ）产品和服务（统称为「<!--{$site.title}-->」）（以下简称「我们」）。
    </p>
    <p>
        <strong>【特别提示】</strong>
    </p>
    <p>
        <strong>
            请您在使用我们的各项产品或服务前，仔细阅读并充分理解本指引。重点内容我们已采用粗体表示，希望您特别关注。一旦您使用或继续使用<!--{$site.title}-->产品/服务，即表示您同意我们按照本指引处理您的相关信息。如对本指引有任何疑问，您可以通过<!--{$site.title}-->官方网站（
            <a href="<!--{$site.url}-->" target="_blank" rel="noopener"><!--{$site.url}--></a>
            ）/ App 上以及本指引中「如何联系我们」一节提供的联系方式/客服系统与我们联系。
        </strong>
    </p>
    <p><strong>为了便于您理解本指引中的相关概念，我们对专有名词标记了下划线并在本指引第 14 节「名词解释」中给予详细介绍。本指引中相关名词的右上角用“*”标记的，代表涉及<!--{$site.title}-->收集的敏感信息，我们向您加以增强式提示。</strong></p>
    <p><strong>我们可能会不时对《<!--{$site.title}-->用户隐私政策》进行修订。当《<!--{$site.title}-->用户隐私政策》发生变更时，我们会在版本更新后以弹窗等形式向您展示变更后的内容。</strong></p>
    <p><strong>请您注意，只有在您确认同意变更后，我们才会按照更新后的《<!--{$site.title}-->用户隐私政策》收集、使用、处理和存储您的个人信息.</strong></p>
    <h2>2. <!--{$site.title}-->处理个人信息的法律依据</h2>
    <p>
        如果您是中华人民共和国大陆地区的用户，我们将依据《中华人民共和国网络安全法》、《信息安全技术 个人信息安全规范》（GB/T 35273-2017）以及其他相关法律法规收集和使用您的个人信息，为您提供<!--{$site.title}-->产品和/或服务。&nbsp;
        <strong>我们通常只会在征得您同意的情况下收集您的个人信息。&nbsp;</strong>
        在某些情况下，我们可能还会基于法律义务或者履行合同之必需向您收集个人信息，或者可能需要个人信息来保护您的重要利益或其他人的利益。
    </p>
    <h2>3. 我们如何收集和使用您的个人信息</h2>
    <p>
        <em>
            我们会遵循正当、合法、必要的原则，出于本指引所述的以下目的，收集和使用您在使用服务过程中主动提供或因使用<!--{$site.title}-->产品和/或服务而产生的个人信息。如果我们要将您的个人信息用于本指引未载明的其它用途，或基于特定目的将收集而来的信息用于其他目的，我们将以合理的方式向您告知，并在使用前再次征得您的同意。
        </em>
    </p>
    <h3>3.1 帮助您成为我们的在线用户</h3>
    <p><strong>注册帐号：</strong></p>
    <ol>
        <li>
            您注册并登录<!--{$site.title}-->帐号时，
            <strong>
                &nbsp;需要向我们提供以下信息：帐号名称、头像（如有）和手机号码（用于实名认证）。提供上述信息并同意《<!--{$site.title}-->使用协议》和本指引后，您可以使用<!--{$site.title}-->的核心业务功能，包括：浏览<!--{$site.title}-->平台内的内容，发布信息（包括评论、文章等）。
            </strong>
            &nbsp;如果您选择不提供为实现<!--{$site.title}-->核心业务功能的必备信息或使用其中某类功能的必备信息，将导致我们无法为您提供该功能。
        </li>
        <li><strong>在您注册<!--{$site.title}-->帐号时，我们会需要您提供手机号码进行实名认证，如您拒绝提供手机号码进行实名验证，将导致注册不成功，因此无法使用发布信息的相关功能。</strong></li>
    </ol>
    <h3>3.2 向您提供产品和/或服务</h3>
    <h4>A. 向您提供<!--{$site.title}-->产品和/或服务的核心业务功能</h4>
    <p>为实现<!--{$site.title}-->的核心业务功能，我们可能需要向您收集个人信息。以下将详细列出<!--{$site.title}-->的核心业务功能及为实现该功能所需收集的个人信息，若您拒绝收集，则无法使用该服务。</p>
    <ol>
        <li>
            <strong>浏览、关注与收藏功能。</strong>
            &nbsp;您可浏览的内容包括文章、专题、特色专栏、课程、活动等；在浏览的过程中，您还可以关注您感兴趣的作者、专栏、话题，并收藏文章。为此，&nbsp;
            <strong>我们可能会收集您使用<!--{$site.title}-->时的设备信息，如设备型号、唯一设备标识符、操作系统、分辨率、电信运营商等软硬件信息。&nbsp;</strong>
            我们还可能收集您的浏览器类型，以此来为您提供信息展示的最优方案。此外，在您使用浏览和收藏功能的过程中，我们会自动收集您使用<!--{$site.title}-->的详细情况，并作为有关的&nbsp;
            <strong>
                网络日志保存，包括但不限于您输入的搜索关键词信息和点击的链接，您浏览和发布的内容及评论信息，您上传的图片信息、您的交易信息、您使用的语言、访问的日期和时间、及您请求的网页记录、操作系统、软件版本号、登录 IP 信息。
            </strong>
            &nbsp;在此过程中，&nbsp;
            <strong>我们会收集您的浏览记录，浏览记录包括您浏览的文章、专题、特色专栏、课程，</strong>
            &nbsp;您可以自主删除浏览记录。
        </li>
        <li>
            信息发布功能。&nbsp;您注册成为<!--{$site.title}-->用户后，可在<!--{$site.title}-->平台上发布文章，并对别人的评论作出回应，您还可以对别人的文章作出评论、点赞、转发。在此过程中，&nbsp;
            <strong>我们可能会收集您的设备信息、浏览器类型、日志信息。</strong>
        </li>
    </ol>
    <h4>B．向您提供<!--{$site.title}-->产品和/或服务的附加业务功能</h4>
    <p>
        为了向您提供更优质的产品和服务，我们可能需要收集下述信息。&nbsp;
        <strong>如果您拒绝提供下述信息，不影响您正常使用 3.2 A 项所描述的<!--{$site.title}-->核心业务功能，但我们无法向您提供某些特定功能和服务。</strong>
    </p>
    <ol>
        <li>
            <strong>定位功能。</strong>
            &nbsp;当您开启设备定位功能并使用<!--{$site.title}-->基于位置提供的相关服务时，&nbsp;
            <strong>我们会收集有关您的位置信息。</strong>
        </li>
        <li>
            <strong>搜索功能。&nbsp;</strong>
            当您使用<!--{$site.title}-->提供的搜索功能时，我们会收集您查询的关键字信息以及您在使用<!--{$site.title}-->服务时所阅览或要求的其他信息和内容详情。为了给您带来更便捷的搜索服务并不断完善<!--{$site.title}-->产品和/或服务，我们可能会使用浏览器网络存储机制（包括 HTML5
            ）和应用数据缓存，收集您设备上的信息并进行本地存储。
            <strong>
                &nbsp;该等关键词信息通常无法单独识别您的个人身份，不属于您的个人信息，不在本指引的限制范围内。只有当您的搜索关键词信息与您的其他信息有联结并可识别您的个人身份时，则在结合使用期间，我们会将您的搜索关键词信息作为您的个人信息，与您的搜索历史记录一同按照本指引对其进行处理与保护。
            </strong>
        </li>
        <li>
            <strong>身份认证服务。</strong>
            &nbsp;<!--{$site.title}-->提供作者认证服务，在对您个人信息的真实性进行审核后，会为您标记认证标识。&nbsp;
            <strong>因此，当您申请<!--{$site.title}-->为您进行作者认证时，我们需要收集您的姓名、有关身份证明*的信息，以证实您的作者身份。</strong>
        </li>
        <li>
            <strong>客户服务。</strong>
            &nbsp;当您向<!--{$site.title}-->提起投诉、申诉或进行咨询时，为了方便与您联系或帮助您解决问题，&nbsp;
            <strong>我们可能需要您提供姓名、手机号码、电子邮件及其他联系方式等个人信息。</strong>
            &nbsp;如您拒绝提供上述信息，我们可能无法向您及时反馈投诉、申诉或咨询结果。
        </li>
        <li>
            <strong>定向推送。</strong>
            &nbsp;我们会基于收集的信息，对您的偏好、习惯、位置作特征分析和用户画像，以便为您提供更适合的定制化服务，例如向您展现或推荐相关程度更高（而非普遍推送）的搜索结果、信息流或者广告/推广信息结果。为此，
            <strong>我们需要收集的信息包括您的设备信息、浏览器型号、日志信息、浏览记录。</strong>
        </li>
        <li>
            <strong>支付功能。</strong>
            &nbsp;您可在<!--{$site.title}-->购买书课程，体验会员服务。在您使用该功能的过程中可能会需要进行支付，在支付过程中，&nbsp;
            <strong>我们可能会收集您的第三方支付帐号(例如支付宝帐号、Apple Pay 帐号或其他形式的银行卡信息)，如果您开通了指纹支付，我们还可能需要收集您的生物识别信息*用于付款验证。</strong>
        </li>
        <li>
            <strong>营销活动。&nbsp;</strong>
            我们将会不时举办线上或线下的营销活动，包括邀请用户参加圆桌、沙龙等活动，或用户主动参与<!--{$site.title}-->站内的有奖问答活动等。
            <strong>&nbsp;在此类营销活动中，我们可能需要用户提供身份信息*或收件信息，以便我们能够提供票务服务或寄送礼品。在涉及<!--{$site.title}-->向您支付费用的情况下，我们可能需要收集您的身份信息用于代缴税款。</strong>
        </li>
    </ol>
    <h3>3.3 我们可能从第三方间接获取您的个人信息</h3>
    <p><strong>A. 您使用第三方帐号（微信、微博）登录<!--{$site.title}-->时，可选择授权<!--{$site.title}-->在符合相关法律法规要求的前提下读取并获得您在该第三方平台上登记、公布、记录的公开信息（包括昵称、头像）。</strong></p>
    <p>
        <strong>B. <!--{$site.title}-->需要您授权从第三方获取上述信息是为了记住您作为<!--{$site.title}-->用户的登录身份，以向您提供更优质的产品和/或服务。我们仅会在您的授权同意的范围内收集并使用您的个人信息。&nbsp;</strong>
        在您使用第三方帐号注册或登录后，您的第三方帐号将会与<!--{$site.title}-->帐号进行绑定，但您可以在【账号信息】中选择关闭，进行取消帐号绑定。
    </p>
    <h3>3.4 敏感信息</h3>
    <p>在向<!--{$site.title}-->提供任何属于敏感信息的个人信息前，请您清楚考虑该等提供是恰当的并且同意您的个人敏感信息可按本指引所述的目的和方式进行处理。</p>
    <p>我们会在得到您的同意后收集和使用您的敏感信息以实现与<!--{$site.title}-->业务相关的功能，并允许您对这些敏感信息的收集与使用做出不同意的选择，但是拒绝使用这些信息会影响您使用相关功能。</p>
    <h3>3.5 征得授权同意的例外</h3>
    <p>
        根据相关法律法规的规定，
        <strong>在以下情形中，我们可以在不征得您的授权同意的情况下收集、使用一些必要的个人信息：</strong>
    </p>
    <p>a. 与国家安全、国防安全直接相关的；</p>
    <p>b. 与公共安全、公共卫生、重大公共利益直接相关的；</p>
    <p>c. 与犯罪侦查、起诉、审判和判决执行等直接相关的；</p>
    <p>d. 出于维护您或其他个人的生命、财产等重大合法权益但又很难得到本人同意的；</p>
    <p>e. 所收集的个人信息是您自行向社会公众公开的；</p>
    <p>f. 从合法公开披露的信息中收集到您的个人信息，如从合法的新闻报道、政府信息公开等渠道；</p>
    <p>g. 根据您的要求签订和履行合同所必需的；</p>
    <p>h. 用于维护<!--{$site.title}-->的产品和/或服务的安全稳定运行所必需的，例如发现、处置产品或服务的故障；</p>
    <p>i. 法律法规规定的其他情形。</p>
    <p><strong>3.6 如果您对我们收集和使用您的个人信息的法律依据有任何疑问或需要提供进一步的信息，请通过「如何联系我们」一节提供的联系方式与我们联系。</strong></p>
    <h2>4. 我们如何共享、转让、公开披露您的个人信息</h2>
    <h3>4.1 共享您的个人信息</h3>
    <h4>A. 我们不会与任何公司、组织和个人共享您的个人信息，但以下情况除外：</h4>
    <ol>
        <li>
            <strong>事先获得您的明确授权或同意：</strong>
            &nbsp;获得您的明确同意后，我们会与其他方共享您的个人信息；
        </li>
        <li>
            <strong>在法定情形下的共享：</strong>
            &nbsp;根据适用的法律法规、法律程序、政府的强制命令或司法裁定而需共享您的个人信息；
        </li>
        <li><strong>在法律要求或允许的范围内，为了保护<!--{$site.title}-->及其用户或社会公众的利益、财产或安全免遭损害而有必要提供您的个人信息给第三方；</strong></li>
        <li>
            <strong>与授权合作伙伴共享：</strong>
            &nbsp;为了向您提供更完善、优质的产品和服务，我们的某些服务将由授权合作伙伴提供。我们可能会与合作伙伴共享您的某些个人信息，以提供更好的客户服务和用户体验。例如，<!--{$site.title}-->向您寄送礼品时，<!--{$site.title}-->需要与物流服务提供商共享您的个人信息才能安排寄送。我们仅会出于合法、正当、必要、特定、明确的目的共享您的个人信息，并且只会共享提供服务所必要的个人信息。同时，我们会与合作伙伴签署严格的保密协定，要求他们按照我们的说明、本指引以及其他任何相关的保密和安全措施来处理您的个人信息。我们的合作伙伴无权将共享的个人信息用于任何其他用途。
            <strong>&nbsp;如果您拒绝我们的合作伙伴在提供服务时收集为提供服务所必须的个人信息，将可能导致您无法在<!--{$site.title}-->中使用该第三方服务。</strong>
        </li>
    </ol>
    <p><strong>目前，我们的授权合作伙伴包括以下类型：</strong></p>
    <ul>
        <li>
            <strong>广告、分析服务类的授权合作伙伴。</strong>
            &nbsp;除非得到您的许可，否则我们不会将您的个人身份信息（指可以识别您身份的信息，例如姓名或电子邮箱）与提供广告、分析服务的合作伙伴分享。对于广告合作伙伴，我们可能会向其提供有关其广告覆盖面和有效性的信息，而不会提供您的个人身份信息，或者我们将这些信息进行匿名化处理，以便它不会识别到您个人。对于分析数据的伙伴，为了更好的分析<!--{$site.title}-->用户的使用情况，我们可能向其提供<!--{$site.title}-->用户的数量、地区分布、活跃情况等数据，但我们仅会向这些合作伙伴提供不能识别个人身份的统计信息（例如「位于北京的
            25 岁男性，喜欢软件开发」）；
        </li>
        <li>
            <strong>供应商、服务提供商和其他合作伙伴。&nbsp;</strong>
            我们将信息发送给在全球范围内支持我们业务的供应商、服务提供商和其他合作伙伴共享（例如代表我们发出电邮或推送通知的通讯服务供应商，以及向为我们和您提供协助的地图服务供应商分享位置数据），这些信息的用途受到如下限制：
        </li>
        <ul>
            <li>协助我们向您提供服务；</li>
            <li>协助我们履行在上文「向您提供产品和/或服务」一节所载的目的；</li>
            <li>履行我们根据《<!--{$site.title}-->用户使用协议》或本指引的责任和实现我们的权利，及／或协助理解和改善<!--{$site.title}-->提供的服务；</li>
            <li>提供技术基础设施服务、分析我们服务的使用方式、衡量广告和服务的有效性、支付便利或进行学术研究和调查。</li>
        </ul>
    </ul>
    <p>B. 就上述目的而言，在本「共享您的个人信息」一节提及的任何第三方所在的位置或使用您的个人信息的位置可能会在您的司法管辖区以外的地区，包括可能没有与您所在司法管辖区的法律实质上相似或达到该等法律目的的个人信息保护法规的地区；</p>
    <p><strong>C.有关共享信息的提示：通过由我们或第三方提供的功能，您可以主动公开分享、共享信息（如向其他互联网平台转发内容），在这种情况下共享信息将被广泛并即时传送。</strong></p>
    <p>
        <strong>
            但只要您不删除被共享的信息，该信息会一直留存在公众领域；在一些情况下，即使您删除共享信息，该等信息仍可由其他用户或与我们没有关联及不受我们控制的第三方独立地缓存、复制或储存，或通过其他用户或该等第三方在公众领域保存。例如，当您将您在<!--{$site.title}-->发表的回答转发到其他互联网平台，该平台将可能独立的展示、缓存或保存您转发的内容，其他互联网用户也可能转发、保存您的回答，而相应的页面将不受<!--{$site.title}-->的控制。
        </strong>
    </p>
    <p>
        <strong>
            此外，我们亦会提供<!--{$site.title}-->的其他相关功能，允许您在公众领域分享共享信息。例如公众可以通过接入博客或论坛来使用<!--{$site.title}-->产品中的某些社交媒体功能。&nbsp;您应注意，任何您分享的共享信息均可被任何第三方阅读、收集和使用。请您审慎考虑您通过<!--{$site.title}-->张贴和传输的讯息内容。
        </strong>
    </p>
    <h3>4.2. 转让</h3>
    <p><strong>除非获取您的明确同意，我们不会将您的个人信息转让给任何公司、组织或个人。</strong></p>
    <p>如果发生合并、收购或破产清算，将可能涉及到个人信息转让，此种情况下我们会要求新的持有您个人信息的公司、组织继续受本指引的约束。如果本指引中约定的个人信息的收集、处理方式发生任何改变，该公司、组织将重新向您征求授权同意。</p>
    <h3>4.3. 公开披露</h3>
    <p><strong>除非获取您的明确同意，我们不会公开披露您的个人信息。</strong></p>
    <p>
        基于法律、法律程序、诉讼或政府主管部门强制性要求的情况下，我们可能会向有权机关披露您的个人信息。但我们保证，在上述情况发生时，我们会要求披露请求方必须出具与之相应的有效法律文件，并对被披露的信息采取符合法律和业界标准的安全防护措施。
    </p>
    <h3>4.4. 共享、转让、公开披露个人信息授权同意的例外</h3>
    <p>根据相关法律法规的规定，在以下情形中，我们可以在不征得您的授权同意的情况下共享、转让、公开披露您的个人信息：</p>
    <p>A. 与国家安全、国防安全有关的；</p>
    <p>B. 与公共安全、公共卫生、重大公共利益有关的；</p>
    <p>C. 与犯罪侦查、起诉、审判和判决执行等有关的；</p>
    <p>D. 出于维护您或其他个人的生命、财产等重大合法权益但又很难得到本人同意的；</p>
    <p>E. 您自行向社会公众公开的个人信息；</p>
    <p>F. 从合法公开披露的信息中收集到的个人信息的，如合法的新闻报道、政府信息公开等渠道。</p>
    <p>G. 法律法规规定的其他情形。</p>
    <p>根据法律规定，共享、转让经去标识化处理的个人信息，且确保数据接收方无法复原并重新识别个人信息主体的，不属于个人信息的对外共享、转让及公开披露行为，对此类数据的保存及处理将无需另行向您通知并征得您的同意。</p>
    <h2>5. 我们如何保护您的个人信息</h2>
    <p>您的个人信息安全对于我们至关重要。我们将严格遵守相关法律法规，采取业内认可的合理可行的措施，保护您的个人信息。防止信息遭到未经授权的访问、披露、使用、修改，避免信息损坏或丢失。</p>
    <h3>5.1 技术措施与数据安全措施</h3>
    <p>我们努力采取各种符合业界标准的物理、电子和管理方面的安全措施来保护您的个人信息安全。我们积极建立数据分类分级制度、数据安全管理规范、数据安全开发规范来管理规范个人信息的存储和使用，确保未收集与我们提供的服务无关的个人信息。</p>
    <p>我们通过与信息接触者签署保密协议、监控和审计机制来对数据进行全面安全控制。防止您的个人信息遭到未经授权的访问、公开披露、使用、修改、损坏或丢失。</p>
    <p>
        我们已使用符合业界标准的安全防护措施保护您提供的个人信息，防止数据遭到未经授权的访问、公开披露、使用、修改，防止数据发生损坏或丢失。我们会采取一切合理可行的措施，保护您的个人信息。例如，在您的浏览器与<!--{$site.title}-->之间交换数据（如信用卡信息）时受
        SSL 加密保护；我们同时对本指引「引言」中出现的网站提供 https
        安全浏览方式；我们会使用加密技术确保数据的保密性；我们会使用受信赖的保护机制防止数据遭到恶意攻击；我们会部署访问控制机制，确保只有授权人员才可以访问个人信息；以及我们会举办安全和隐私保护培训课程，加强员工对于保护个人信息重要性的认识。
    </p>
    <h3>5.2 安全事件处置</h3>
    <p>
        我们将尽力确保您发送给我们的任何信息的安全性，但请您理解，由于技术的限制以及在互联网行业可能存在的各种恶意手段，不可能始终保证信息百分之百的安全。您需要了解，您接入我们服务所用的系统和通讯网络，有可能因我们可控范围外的因素而出现问题。为防止安全事故的发生，我们制定了妥善的预警机制和应急预案。若不幸发生个人信息安全事件，我们将按照法律法规的要求，及时向您告知：安全事件的基本情况和可能的影响、我们已采取或将要采取的处置措施、您可自主防范和降低风险的建议和对您的补救措施，并立即启动应急预案，力求将损失最小化。我们将及时将事件相关情况以电话、推送通知等方式告知您，难以逐一告知用户时，我们会采取合理、有效的方式发布公告。
    </p>
    <p>同时，我们还将按照监管部门要求，主动上报个人信息安全事件的处置情况，紧密配合政府机关的工作。</p>
    <h2>6. 您管理个人信息的权利</h2>
    <p>
        <strong>我们非常重视您对个人信息的关注，并尽全力保护您对于自己个人信息访问、更正、删除以及撤回同意的权利，以使您拥有充分的能力保障您的隐私和安全。</strong>
        &nbsp;您的权利包括：
    </p>
    <h3>6.1 访问和更正您的个人信息</h3>
    <p>A. 除法律法规规定外，您有权随时访问和更正您的个人信息，具体包括：</p>
    <ol>
        <ol>
            <li>您可通过【我的 → 帐号信息 → 邮箱】，访问或者修改您的邮箱信息；</li>
            <li>您可通过【我的 → 帐号信息】，访问或者修改您绑定的微信帐号、QQ 帐号、微博帐号；</li>
        </ol>
    </ol>
    <p>B. 如果您需要查阅您在使用<!--{$site.title}-->过程中产生的其他个人信息，在合理要求下，我们会向您提供。若您无法通过上述方式访问或者更正您的个人信息的，也可以通过发送邮件至 support@<!--{$site.host}--> 联系我们。我们会在 10 日回复您的访问请求。</p>
    <h3>6.2 删除您的个人信息</h3>
    <p>A. 我们在<!--{$site.title}--> App 上提供以下方式帮助您删除您在<!--{$site.title}-->上发布的信息。</p>
    <ol>
        <ol>
            <li>您可通过【我的 → 个人主页】，删除您在个人主页中展示的信息；</li>
            <li>您可通过【我的 → 我的文章】，删除您发布的文章；</li>
            <li>您可通过【我的 → 关注】，删除您的关注记录，包括用户、专题、特色专栏、话题；</li>
            <li>您可通过【我的 →我的收藏】，删除您收藏的文章、视频、产品；</li>
            <li>您可通过【我的 → 最近阅读】，删除您的浏览记录；</li>
        </ol>
    </ol>
    <p>B. 在以下情形中，您可以向我们提出删除个人信息的请求：</p>
    <ol>
        <ol>
            <li>如果我们处理个人信息的行为违反法律法规；</li>
            <li>如果我们收集、使用您的个人信息，却未征得您的同意；</li>
            <li>如果我们处理个人信息的行为违反了与您的约定；</li>
            <li>如果您注销了<!--{$site.title}-->帐号；</li>
            <li>如果我们终止服务及运营。</li>
        </ol>
    </ol>
    <p>
        <strong>
            以上删除请求一旦被响应，我们还将同时通知从<!--{$site.title}-->获得您个人信息的第三方实体（例如使用<!--{$site.title}-->帐号作为第三方登录账号的其他互联网平台），要求其及时删除，除非法律法规另有规定，或这些实体获得您的独立授权。当您从我们的服务中删除信息后，我们可能不会立即从备份系统中删除相应的信息，但会在备份更新时删除这些信息。
        </strong>
    </p>
    <p>如果您在删除过程中遇到任何问题，请通过<!--{$site.title}-->官方帐号「<!--{$site.title}-->」或发送邮件至 support@<!--{$site.host}--> 联系我们。我们会在 10 日回复您的请求。</p>
    <h3>6.3 改变您授权同意的范围</h3>
    <p>每个业务功能需要一些基本的个人信息才能得以完成（见本指引第 3 部分）。对于您个人信息的收集和使用，您可以随时通过以下方式给予或收回您的授权同意。</p>
    <ol>
        <ol>
            <li>
                您可通过【设置 → 推送设置】来开启或关闭通知。
                <strong>
                    &nbsp;当您收回同意后，我们将不再处理相应的个人信息，但请您理解，当您撤回同意或授权后，我们无法继续为您提供撤回同意或授权所对应的特定功能和/或服务。但您收回同意的决定，不会影响此前基于您的授权而开展的个人信息处理。
                </strong>
            </li>
        </ol>
    </ol>
    <h3>6.4 设备权限调用</h3>
    <p>
        <strong>我们在提供服务的过程中，可能需要您开通一些设备权限，例如通知、相册、相机、手机通讯录、蓝牙等访问权限。&nbsp;</strong>
        您也可以在设备的【设置】功能中随时选择关闭部分或者全部权限，从而拒绝我们收集您相应的个人信息。在不同设备中，权限显示方式及关闭方式可能有所不同，具体请参考设备及系统开发方说明或指引。
    </p>
    <h3>6.5 注销您的帐号</h3>
    <p>如果您需要注销您的<!--{$site.title}-->帐号，您可以发送邮件至 support@<!--{$site.host}--> 要求对您的<!--{$site.title}-->帐号进行注销。我们将在验证您的身份并清理帐号中的资产（包括已购买的课程、已充值的问币等）后，为您提供帐号注销服务。</p>
    <p>
        <strong>为了向您提供更加便捷的注销方式，我们后续会不断优化我们的产品，并且通过页面公告向您告知。&nbsp;</strong>
        在注销帐号之后，我们将停止为您提供产品或服务，并依据您的要求，删除您的个人信息，法律法规另有规定的除外。
    </p>
    <p><strong>您注销成功后，我们将根据法律法规的要求尽快删除您的个人信息或作匿名化处理。</strong></p>
    <h3>6.6 获取个人信息副本</h3>
    <p>您有权获取您的个人信息副本，您可以通过发送邮件至 support@<!--{$site.host}--> 联系我们，我们将在 10 日内对您的请求进行处理。</p>
    <h3>6.7 约束信息系统自动决策</h3>
    <p>在某些业务功能中，我们可能仅依据信息系统、算法等在内的非人工自动决策机制做出决定。例如向您推荐您可能感兴趣的话题或专栏文章。也可能根据您的位置信息或用户画像向您推送更精准的广告信息。</p>
    <p>如果您不想收到通过算法自动决策后的<!--{$site.title}-->热门内容推送，您可以通过【设置 → 推送设置】拒绝接受推送。</p>
    <p>您拒绝接受推送服务之后，我们将把为达成定向推送而收集的您的个人信息做删除或匿名化处理。</p>
    <h3>6.8 响应您的上述请求</h3>
    <p><strong>为保障安全，我们可能会先要求您验证自己的身份，然后再处理您的请求。您可能需要提供书面请求，或以其他方式证明您的身份。对于您的请求，我们原则上将于 10 日内做出答复。</strong></p>
    <p>
        对于您合理的请求，我们原则上不收取费用，但对多次重复、超出合理限度的请求，我们将视情收取一定成本费用。对于那些无端重复、需要过多技术手段（例如，需要开发新系统或从根本上改变现行惯例）、给他人合法权益带来风险或者非常不切实际的请求，我们可能会予以拒绝。
    </p>
    <p>在以下情形中，按照法律法规要求，我们将无法响应您的请求：</p>
    <ol>
        <ol>
            <li>与国家安全、国防安全直接相关的；</li>
            <li>与公共安全、公共卫生、重大公共利益直接相关的；</li>
            <li>与犯罪侦查、起诉、审判和判决执行等直接相关的；</li>
            <li>有充分证据表明您存在主观恶意或滥用权利的；</li>
            <li>响应您的请求将导致您或其他个人、组织的合法权益受到严重损害的。</li>
            <li>涉及商业秘密的。</li>
        </ol>
    </ol>
    <h2>7. 我们发出的通知</h2>
    <h3>7.1. 通知及其他类别的通讯</h3>
    <p>当您使用<!--{$site.title}-->服务时，我们可利用您的个人信息向您的设备发出推送通知。</p>
    <p>您可通过【设置 → 推送设置】来选择是否接受我们的推送通知。</p>
    <h3>7.2. 与服务有关的公告</h3>
    <p>我们可在我们认为必需时（例如当我们暂停<!--{$site.title}-->服务进行维修时）不时向您发出一些与服务有关的公告。您不可取消这些与服务有关、性质不属于推广的公告。</p>
    <h2>8. 您个人信息的存储</h2>
    <p>
        <strong>我们将从中华人民共和国境内获得的信息存放于中华人民共和国境内。</strong>
        &nbsp;如果发生数据的跨境传输，我们会单独向您以弹窗或邮件的方式告知您数据出境的目的、接收方等，并征得您的授权同意，我们会确保数据接收方有充足的数据保护能力来保护您的个人信息。
    </p>
    <p>
        <strong>我们承诺您个人信息的存储时间始终处于合理必要期限内。</strong>
        &nbsp;在仅浏览功能下所收集的个人信息如浏览记录、IP 信息，我们的存储期限不会超过一个月。对于超出期限的个人信息，我们会立即删除或做匿名化处理。
    </p>
    <p>
        <strong>如我们因经营不善或其他原因出现停止运营的情况，我们会立即停止对您个人信息的收集，删除已收集的个人信息。</strong>
        &nbsp;我们会将此情况在网站上进行公告或以站内信、邮件等其他合理方式逐一传达到各个用户。
    </p>
    <h2>9. 我们如何使用 Cookie 和其他追踪技术</h2>
    <p>
        您使用我们的服务时，我们会在您的计算机或移动设备上存储名为 Cookie 的小数据文件。Cookie 通常包含标识符、站点名称以及一些号码和字符。我们使用该等信息判断注册用户是否已经登录，提升服务/产品质量及优化用户体验。如您不希望个人信息保存在
        Cookie 中，您可对浏览器进行配置，选择禁用 Cookie 功能。禁用 Cookie 功能后，可能影响您访问<!--{$site.title}-->或不能充分取得<!--{$site.title}-->提供的服务。
    </p>
    <p>我们不会将 Cookie 用于本指引所述目的之外的任何用途。您可根据自己的偏好管理或删除 Cookie。您可以清除计算机上保存的所有 Cookie，大部分网络浏览器都设有阻止 Cookie 的功能。</p>
    <h2>10. 我们如何处理未成年人的个人信息</h2>
    <p>
        10.1&nbsp;
        <strong>
            <!--{$site.title}-->服务主要面向成人。我们的产品、网站和服务主要面向成人。若您是 18 周岁以下的未成年人，在使用我们的产品和/或服务前，您应在监护人的陪同下阅读本指引，并应确保已征得您的监护人同意后使用我们的服务并向我们提供您的信息。&nbsp;
        </strong>
        我们会根据国家相关法律法规的规定着重保护未成年人的个人信息。
    </p>
    <p>10.2 如您的监护人不同意您按照本指引使用我们的服务或向我们提供信息，请您立即终止使用我们的服务并及时通知我们。</p>
    <p>10.3 对于经父母或法定监护人同意而收集未成年人个人信息的情况，我们只会在受到法律允许、父母或监护人明确同意或者保护未成年人所必要的情况下使用或公开披露此信息。</p>
    <p>
        10.4
        若您是未成年人的监护人，当您对您所监护的未成年人使用我们的服务或其向我们提供的用户信息有任何疑问时，请您及时与我们联系。我们将根据国家相关法律法规及本指引的规定保护未成年人用户信息的保密性及安全性。如果我们发现自己在未事先获得可证实的父母或法定监护人同意的情况下收集了未成年人的个人信息，则会设法尽快删除相关数据。
    </p>
    <h2>11.授权条款</h2>
    <p>
        “为了向您提供一键登录服务，我们的产品可能会集成第三方SDK或其他类似的应用程序，例如友盟SDK，友盟SDK需要收集您设备的国际移动设备识别码（IMEI）、iOS广告标识符（IDFA)、手机号码等必要字段。为了您的信息安全，我们已与第三方SDK服务商约定严格的数据安全保密义务，这些公司会严格遵守我们的数据隐私和安全要求。除非得到您的同意，我们不会与其共享您的其他个人信息。为便于您更好地了解友盟+采集的数据类型及用途，以及何保护您的个人信息，您可以访问
        https://www.umeng.com/policy 了解友盟+隐私权政策。我们理解并尊重您的选择权，如果您不愿参与友盟+大数据计算，您也可以访问 https://outdip.umeng.com/opt_out.html 行使opt-out权利。”
    </p>
    <h2>12. 如何更新与修改本指引</h2>
    <p><strong>12.1&nbsp;本指引为《<!--{$site.title}-->用户使用协议》的重要组成部分。<!--{$site.title}-->保留不时更新或修改本指引的权利。</strong></p>
    <p><strong>12.2&nbsp;未经您明确同意，我们不会削减您按照本指引所应享有的权利。我们会通过 App 客户端弹窗形式等合理方式通知您，以便您能及时了解本指引所做的任何变更。</strong></p>
    <p>
        12.3 对于重大变更，视具体情况我们&nbsp;
        <strong>可能还会提供更为显著的通知</strong>
        &nbsp;说明本指引的具体变更内容。&nbsp;
        <strong>重大变更包括但不限于：</strong>
    </p>
    <p>A. 我们的服务模式发生重大变化。如处理个人信息的目的、处理的个人信息类型、个人信息的使用方式等；</p>
    <p>B. 我们在所有权结构、组织架构等方面发生重大变化。如业务调整、破产并购等引起的所有者变更等；</p>
    <p>C. 个人信息共享、转让或公开披露的主要对象发生变化；</p>
    <p>D. 您参与个人信息处理方面的权利及其行使方式发生重大变化；</p>
    <p>E. 我们负责处理个人信息安全的责任部门、联络方式及投诉渠道发生变化；</p>
    <p>F. 个人信息安全影响评估报告表明存在高风险时。</p>
    <p>12.4 若您不同意修改后的隐私保护指引，您有权并应立即停止使用<!--{$site.title}-->的服务。如果您继续使用<!--{$site.title}-->的服务，则视为您接受<!--{$site.title}-->对本指引相关条款所做的修改。</p>
    <h2>13. 如何联系我们</h2>
    <p>当您对本指引有任何疑问，可以通过发送邮件至 support@<!--{$site.host}--> 咨询，我们设立了个人信息保护专职部门，将及时解决您的问题。</p>
    <p><strong>一般情况下，我们将在10天内回复。</strong></p>
    <h2>14. 争议解决</h2>
    <p><strong>14.1. 因本指引以及我们处理您个人信息事宜引起的任何争议，您可诉至人民法院。</strong></p>
    <p><strong>14.2 如果您认为我们的个人信息处理行为损害了您的合法权益，您也可向有关政府部门进行反映。</strong></p>
    <h2>15. 名词解释</h2>
    <p>本隐私保护指引中使用到的名词，在通常意义中有如下定义：</p>
    <ol>
        <ol>
            <li>
                <strong>个人信息：&nbsp;</strong>
                个人信息是指以电子或者其他方式记录的能够单独或者与其他信息结合识别自然人个人身份的各种信息，包括但不限于自然人的姓名、出生日期、身份证件号码、个人生物识别信息、住址、电话号码等。
            </li>
            <li>
                <strong>个人敏感信息：&nbsp;</strong>
                个人敏感信息是指一旦泄露、非法提供或滥用可能危害人身和财产安全，极易导致个人名誉、身心健康受到损害或歧视性待遇等的个人信息。例如，个人敏感信息包括身份证件号码、个人生物识别信息、银行账号、通信内容、健康生理信息等。
            </li>
            <li>
                <strong>设备</strong>
                ：&nbsp;设备是指可用于访问<!--{$site.title}-->产品和/或服务的装置，例如台式计算机、笔记本电脑、平板电脑或智能手机。
            </li>
            <li>
                <strong>唯一设备标识符：&nbsp;</strong>
                唯一设备标识符（专属 ID 或 UUID）是指由设备制造商编入到设备中的一串字符，可用于以独有方式标识相应设备（例如手机的 IMEI 号）。唯一设备标识符有多种用途，其中可在不能使用 Cookie（例如在移动应用程序中）时用以提供广告。
            </li>
            <li>
                <strong>IP 地址：</strong>
                &nbsp;每台上网的设备都会指定一个编号，称为互联网协议 ( IP ) 地址。这些编号通常都是根据地理区域指定的。IP 地址通常可用于识别设备连接至互联网时所在的位置。
            </li>
            <li>
                <strong>SSL：</strong>
                &nbsp;SSL（Secure Socket Layer）又称为安全套接层，是在传输通信协议（TCP/IP）上实现的一种安全协议。SSL 支持各种类型的网络，同时提供三种基本的安全服务，均通过使用公开密钥和对称密钥技术以达到信息保密的效果。
            </li>
            <li>
                <strong>信息收集技术：</strong>
                &nbsp;我们在《<!--{$site.title}-->用户隐私政策》中所述的“自动收集”包括以下方式：&nbsp;A. Cookie（曲奇档案）&nbsp;Cookie
                是您浏览网页时，网站服务器放在客户端（您的计算机、移动电话或其他智能终端内）里面的一个小小的文本文件，当您再次访问相应网站时，网站就可通过 Cookie 识别您的浏览器。Cookie
                可能会存储用户偏好及其他信息。您可以将浏览器配置为拒绝所有 Cookie 或在网站发送 Cookie 时显示提示。不过，如果没有 Cookie，某些网站功能或服务可能无法正常工作。具体可参见《<!--{$site.title}--> Cookie 指引》。&nbsp;B. Log
                files（日志文件）&nbsp;Log files 储存自动收集的若干数据。该等数据包括互联网协议（ IP ）地址、浏览器类型、互联网服务提供商（ ISP ）、引用/退出页面、操作系统、日期/时间戳和点击流数据等。&nbsp;C.&nbsp;JavaScript&nbsp;JavaScript
                是一种编程语言，用于制作更具互动性和动态的网页。JavaScript 可以设定 Cookie、阅读 Cookie 及删除 Cookie。
            </li>
            <li>
                <strong>关联公司：&nbsp;</strong>
                指一方现在或将来控制、受控制或与其处于共同控制下的任何公司、机构。“控制”是指直接或间接地拥有影响所提及公司管理的能力，无论是通过所有权、有投票权的股份、合同或其他被依法认定的方式。
            </li>
            <li>
                <strong>算法：</strong>
                &nbsp;计算机在执行解题运算时遵循的流程或一系列规则。
            </li>
            <li>
                <strong>应用数据缓存：</strong>
                &nbsp;应用数据缓存是指设备上的一种数据存储机制。使用它有很多好处，例如，可让网络应用在未连接互联网的情况下运行，以及可通过提高内容加载速度来改善相关应用的性能。
            </li>
            <li>
                <strong>使用浏览器进行网络存储：</strong>
                &nbsp;“使用浏览器进行网络存储”的机制可让网站将数据存储在设备上的浏览器中。如果在“本地存储”模式下使用该机制，则数据可存储在各个会话中。这样一来，即使在关闭并重新打开浏览器后，用户仍可以获取相应数据。有助于实现网络存储的技术之一就是
                HTML 5。
            </li>
            <li>
                <strong>帐户：&nbsp;</strong>
                只要注册帐号并向我们提供一些个人信息（本指引 3.1 节已经说明），您就可以使用我们的服务。当您访问<!--{$site.title}-->时，系统会利用这些帐号信息对您进行身份验证，以防止未经授权的人员访问您的帐号。
            </li>
            <li>
                <strong>非个人身份信息：&nbsp;</strong>
                记录的与用户相关的信息，但实际上不可直接或间接识别您身份的信息，包括经过去标识化、匿名化处理或化名方式提供的个人信息。
            </li>
            <li>
                <strong>去标识化：</strong>
                &nbsp;指通过对个人信息的技术处理，使其在不借助额外信息的情况下，无法识别个人信息主体的过程。
            </li>
            <li>
                <strong>匿名化：&nbsp;</strong>
                指通过对个人信息的技术处理，使得个人信息主体无法被识别，且处理后的信息不能被复原的过程。
            </li>
            <li>
                <strong>服务器日志：</strong>
                &nbsp;与大多数网站一样，我们的服务器会自动记录您在访问网站时所发出的网页请求。这些“服务器日志”通常包括您的网络请求、互联网协议地址、浏览器类型、浏览器语言、请求的日期和时间及可以唯一识别您的浏览器的一个或多个 Cookie。
            </li>
        </ol>
    </ol>
</div>
<!--{/if}-->
