<!DOCTYPE html>
<html>
    <head>
        <title><!--{$site.title}-->_ <!--{$site.seotitle}--></title>
        <meta name="keywords" content="<!--{$site.keywords}-->" />
        <meta name="description" content="<!--{$site.description}-->" />
        <meta name="mobile-agent" content="format=xhtml;url=<!--{$site.urls.mobile}-->" />
        <meta name="mobile-agent" content="format=html5;url=<!--{$site.urls.mobile}-->" />
        <link rel="alternate" media="only screen and(max-width: 640px)" href="<!--{$site.urls.mobile}-->" />
        <!--{iCMS:public:ui}-->
    </head>
    <body>
        <div id="page-container">
            <main id="main-container">
                <!--{include file="./top.htm"}-->
                <!--{include file="./hero.htm"}-->

                <!-- Page Content -->
                <div class="content content-boxed">
                    <div class="row">
                        <div class="col-md-8 bg-white p-0">
                            <nav class="flex-sm-00-auto bg-light px-2" aria-label="breadcrumb">
                                <ol class="breadcrumb breadcrumb-alt">
                                    <li class="breadcrumb-item">
                                        <a href="<!--{$site.url}-->">首页</a>
                                    </li>
                                    <!--{foreach value="breadcrumb" from="$node.navArray"}-->
                                    <li class="breadcrumb-item">
                                        <a href="<!--{$breadcrumb.url}-->">
                                            <!--{$breadcrumb.name}-->
                                        </a>
                                    </li>
                                    <!--{/foreach}-->
                                </ol>
                            </nav>

                            <div class="bg-white">
                                <!--{iCMS:content:list loop="true" page="true" row="5" cid="$node.id"}-->
                                <!--{include file="./item.htm" item="$content_list"}-->
                                <!--{iCMSelse}-->
                                <p class="p-4">暂无相关内容</p>
                                <!--{/iCMS}-->

                                <!-- Pagination -->
                                <nav aria-label="Page navigation">
                                    <ul class="pagination push">
                                        <!--{$iCMS.PAGE.NAV}-->
                                    </ul>
                                </nav>
                                <!-- END Pagination -->
                            </div>
                        </div>
                        <div class="col-md-4 mt-2 mt-md-0">
                            <!--{include file="./right.search.htm"}-->
                            <!--{iCMS:content:list row="10" cid="$node.id"}-->
                            <!--{include file="./right.hots.htm" hotsList="$content_list"}-->
                            <!--{include file="./right.comments.htm"}-->
                            <!--{include file="./right.social.htm"}-->
                        </div>
                    </div>
                </div>
                <!-- END Page Content -->

                <!--{include file="./footer.htm"}-->
            </main>
        </div>
    </body>
</html>
