<div class="bg-body-dark">
    <div class="content">
        <div class="text-center">
            <a href="<!--{$site.url}-->"><!--{$site.title}--></a> - <!--{$site.description}-->
            <p>法律声明：本站内容均为网友上传，网站举办方负责审核和监督，如存在版权或非法内容，欢迎举报，我们将尽快予以删除。</p>
            <p>Copyright &copy; 2008-<!--{$iCMS.NOW|date:"Y"}--> Powered by <a href="https://www.icmsdev.com/" target="_blank">iCMS <!--{$iCMS.CONST.iCMS_VERSION}-->.</a>
            <!--{if $site.icp}-->
            <p style="display:inline-block;height:20px;margin-left:3px;line-height:20px;">
                <!--{$site.icp}-->
            </p>
            <!--{/if}-->
        </div>
    </div>
</div>
<!--{iCMS:public:dialog}-->