<!--{'1'|rand:'39'|as:'randBg'}-->
<div class="bg-primary-dark" style="background: url('<!--{$site.urls.assets}-->/img/bg/photo<!--{$randBg}-->.jpg') 50% 50%; background-size: 100%">
    <div class="content content-full overflow-hidden">
        <div class="mt-7 mb-5 text-center">
            <h1 class="h2 text-white mb-2 animated fadeInDown" data-toggle="appear" data-class="animated fadeInDown"><!--{$site.title}--></h1>
            <h2 class="h4 font-w400 text-white-75 animated fadeInDown" data-toggle="appear" data-class="animated fadeInDown"><!--{$site.seotitle}--></h2>
        </div>
    </div>
</div>
