<!-- Social -->
<div class="block block-rounded">
    <div class="block-header block-header-default">
        <h3 class="block-title">分享</h3>
    </div>
    <div class="block-content block-content-full">
        <a class="btn btn-light" href="javascript:void(0)" data-toggle="tooltip" data-html="true" data-placement="left" title="<img src='<!--{iCMS:public:qrcode data="$site.url"}-->' alt=''> <p>用微信“扫一扫”</p>">
            <i class="fab fa-fw fa-weixin mr-1"></i>
        </a>
        <a class="btn btn-light" href="http://connect.qq.com/widget/shareqq/index.html?title=分享一个不错的网站&summary=<!--{$site.url}-->&pics=&url=<!--{$article.url}-->">
            <i class="fab fa-fw fa-qq mr-1"></i>
        </a>
        <a class="btn btn-light" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=<!--{$site.url}-->&desc=分享一个不错的网站">
            <i class="fa fa-fw fa-share-square mr-1"></i>
        </a>
        <a class="btn btn-light" href="http://service.weibo.com/share/share.php?url=<!--{$site.url}-->&title=分享一个不错的网站&appkey=&searchPic=true">
            <i class="fab fa-fw fa-weibo mr-1"></i>
        </a>
    </div>
</div>
<!-- END Social -->