<!-- Social -->
<div class="block block-rounded">
    <div class="block-header block-header-default">
        <h3 class="block-title">标签</h3>
    </div>
    <div class="block-content block-content-full">
        <div class="d-flex flex-wrap">
            <!--{iCMS:tag:list loop='true' orderby="hot"}-->
            <a class="btn btn-light mr-2 mb-2" href="<!--{$tag_list.url}-->" title="<!--{$tag_list.name}-->" target="_blank"><!--{$tag_list.name}--></a>
            <!--{/iCMS}-->
        </div>
    </div>
</div>
<!-- END Social -->
