<!-- Normal Block Modal -->
<div class="modal" id="iCMS-MODAL" tabindex="-1" role="dialog" aria-labelledby="iCMS-MODAL" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="block block-rounded block-themed block-transparent mb-0">
                <div class="block-header bg-primary-dark">
                    <h3 class="modal-title block-title">iCMS 提示</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-fw fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="modal-body block-content p-0">
                    <p><img src="./assets/img/loading.gif" /></p>
                </div>
                <div class="modal-footer block-content block-content-full text-right border-top">
                    <button type="button" class="btn btn-sm btn-light" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal"><i class="fa fa-fw fa-check mr-1"></i>确认</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Normal Block Modal -->