<?php self::head(); ?>
<div class="content" id="<?php echo APP_MAINID; ?>">
    <div class="block">
        <div class="block-header block-header-default">栏目权限设置</div>
        <div class="block-content">
            <form action="<?php echo APP_URL; ?>&do=save_access" method="POST" id="<?php echo APP_FORMID; ?>" target="iPHP_FRAME">
                <input name="id" type="hidden" value="<?php echo $this->id; ?>" />
                <div class="tab-content">
                    <?php include self::view("widget/access", "node"); ?>
                </div>
                <?php self::formSubmit(); ?>
            </form>
        </div>
    </div>
</div>
<?php self::foot(); ?>